 <section id="cd_change_password_page" class="cd_main-section cd_main-section-2">
        <div class="cd_header">
          <div>
            <p id="cd_heading">Change Password</p>
          </div>
        </div>
        <div class="cd_container">
          <form id="cd_change_password_form">          
            <div class="cd_row">
              <div class="cd_col-25">
                <label for="password">New Password</label>
              </div>
              <div class="cd_col-75">
               <input type="hidden" id="id" name="id" value="{{ customer.id }}">
                <input type="password" class="cd_password" id="password" name="password">
              </div>
            </div>
            <div class="cd_row">

              <div class="cd_col-25">
                <label for="c_password">Confirm New Password</label>
              </div>
              <div class="cd_col-75">
                <input type="password" class="cd_password" id="c_password" name="passwordConfirmation">
              </div>
              <div id="cd_return_message"></div>
            </div>

            <div style="margin-top:15px;" class="cd_row">
              <button type="submit" id="submit_loader_2">Save</button>
            </div>
             <div id="cd_success_message_password">Your password has been changed</div>
          </form>         
        </div>
</section>