         <section id="cd_return_policy_page" class="cd_main-section cd_main-section-2">
        <div class="cd_header">
          <div>
            <p id="cd_heading">Return Policy</p>
          </div>
        </div>
        </section>