{% for values in shop.metafields.customer_dashboard.menu_builder_fields.value %}
  {% if values.type == "page" %}

    <section id="cd_{{ values.value }}" class="cd_main-section cd_main-section-2">
      <div class="cd_header">
        <div>
          <p id="cd_heading">{{ pages[values.value].title }}</p>
        </div>
      </div>
      <div class="cd_container cd_page_color">
        {{ pages[values.value].content }}
      </div>
    </section>
  {% endif %}
{% endfor %}